.App{
  position: relative;
}
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
}
.logo {
  width: 15%;
  text-align: center;
}
.title a {
  color: black;
  text-decoration: none;
}
.logo a,
.account a {
  text-decoration: none;
  color: black;
}
.logo h1 {
  margin: 0;
}
.search {
  border: 0.5px solid #c0c0c0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  text-align: center;
}
.search .icon {
  margin: auto;
  padding: 6px;
}
.search svg {
  width: 24px;
  height: 24px;
  text-align: center;
}
.search input[type="text"] {
  width: 100%;
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
}
.search input[type="text"]:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 55%;
  margin-right: auto;
}

.account {
  width: 30%;
  display: flex;
  align-items: center;
}
.account .login,.account .username {
  width: 35%;
  border: 0.5px solid #c0c0c0;
  border-radius: 50%;
  margin-left: auto;
  margin-top: 10px;
}
.account .signup a,.account .logout a,
.account .login a ,.account .username a{
  text-align: center;
}
.account .signup ,.account .logout{
  width: 35%;
  border: 0.5px solid #c0c0c0;
  border-radius: 50%;
  margin-right: auto;
  margin-top: 10px;
}
.account div {
  margin-left: 15px;
}

.content {
  z-index: 0;
  display: flex;
}
.content .left {
  width: 70%;
}
.content .left .latest-news {
  padding: 10px 40px;
}
.content .right {
  border-left: 1px solid #c0c0c0;
  width: 30%;
}
.content .right .hot-news,
.content .right .read-news {
  padding: 10px 40px;
  border-bottom: 1px solid #c0c0c0;
}
.frame {
  /* border: 1px solid black; */
  display: flex;
  margin-bottom: 20px;
}

.latest-news {
  position: absolute;
}

.latest-news .fr {
  width: 80%;
  float: left;
}
.latest-news .back-page {
  width: 10%;
  float: left;
}
.back-page,
.next-page {
  top: 200px;
  position: relative;
}
.latest-news svg {
  width: 50px;
  height: 50px;
}

.latest-news .next-page {
  width: 10%;
  float: right;
}

.frame .source {
  margin-right: 20px;
  color: #c0c0c0;
  cursor: pointer;
}

.frame .source p {
  margin-top: 0px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.source p a {
  text-decoration: none;
  color: #c0c0c0;
}

.button {
  float: right;
  margin-right: 30px;
}

.button .like,
.button .dislike {
  cursor: pointer;
  margin: 10px;
}
.output{
  width: 585px;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 240px;    
  /* display:none; */
  background-color: white;
}
.output .frame{
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  color: #c0c0c0;
}
.output .source{
  padding: 5px;
}
.output .title{
  padding: 5px;
  float: left;
  cursor: pointer;
}

a{
  cursor: pointer;
}

.output .tags .tag{
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  color: #c0c0c0;
  margin-right: 10px;
  float: left;
}

.custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.custom-modal.open {
  display: flex;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}
.tags{
  display: flex;
  float: left;
}
.tags .tag{
  margin-right: 20px;
  width: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}
.close {
  position: fixed;
  top: 15px;
  right: 140px;
  cursor: pointer;
}
